header.header 
    div.header-list
        a.header__list-item(href="#") Home
        a.header__list-item(href="#") About
        a.header__list-item(href="#") Contact
    p.header-p Landing
    button.header-btn Buy Now